@use 'variables';

.hero {
    position: relative;
    padding: 64px 0;
    background-image: url(../images/festa-aniversario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .container {
        position: relative;
    }

    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$bgColor;
    opacity: .3;
    }

    &__text {
        margin: 64px 0;
        font-size: 40px;
        line-height: 56px;
        color: variables.$secundarytextColor;
        font-weight: 800;
        text-align: center;

        span {
            padding: 6px;
            color: variables.$orange;
            background-color: rgba($color: variables.$purple, $alpha: .4);
            border-radius: 6px;
        }
    }

    &__logo {
        margin: 0 auto;
        height: 140px;
        display: block;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 90px;
        }

        &__text {
            font-size: 22px;
            line-height: 32px;
            margin: 24px 0;
        }
    }
}